@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url('./fonts/whitneylight.woff') format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url('./fonts/whitneybook.woff') format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url('./fonts/whitneymedium.woff') format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url('./fonts/whitneysemibold.woff') format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url('./fonts/whitneybold.woff') format('woff');
}

:root {
    --purple: #5865f2;
    --purple-bg: #404eed;
    --purple-hover: #6c78f3;
    --dark-not-black: #2c2f33;
    --blue: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --main-font-family: Whitney, sans-serif;
    --font-size-xxxl: 56px;
    --font-size-xxl: 44px;
    --font-size-xl: 24px;
    --font-size-lg: 20px;
    --font-size-md: 16px;
    --font-size-sm: 14px;
    --font-light: 300;
    --font-book: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --gap: 24px;
}

@media screen and (min-width: 768px) {
    :root {
        --gap: 40px;
    }
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
    font-size: var(--font-size-md);
    font-weight: var(--font-light);
    color: var(--dark-not-black);
    line-height: 1.15;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: underline;
}

ul,
li,
button,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}

button {
    cursor: pointer;
}

p {
    line-height: 1.65;
}

ul {
    list-style: none;
}

/* Helpers */
@media screen and (max-width: 63.95rem) { /* 1023px */
    .hide-for-mobile {
        display: none;
    }
}

@media screen and (min-width: 63.96rem) {  /* 1024px */
    .hide-for-desktop {
        display: none;
    }
}

.container {
    display: grid;
    width: 100%;
    max-width: 1260px;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 20px;
    padding: 0 var(--gap);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 var(--gap);
    }
}

.button {
    border-radius: 40px;
    font-size: var(--font-size-sm);
    padding: 11px 16px;
    background-color: var(--white);
    color: var(--dark-not-black);
    font-weight: var(--font-medium);
    display: block;
    text-decoration: none !important;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    text-align: center;
}

.button--lg {
    padding: 16px 32px;
    font-size: var(--font-size-lg);
    border-radius: 28px;
}

.button:hover {
    color: var(--purple-hover);
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.button--purple {
    color: var(--white);
    background-color: var(--purple);
}

.button--purple:hover {
    color: var(--white);
    background-color: var(--purple-hover);
}

.button--black {
    color: var(--white);
    background-color: var(--not-quite-black);
}

.button--black:hover {
    color: var(--white);
    background-color: var(--dark-not-black);
}

.link-active {
    background-color: var(--off-white);
    border-radius: 5px;
}

.link-active > a {
    color: var(--blue) !important;
}

/* Header */
.wrapper {
    background-color: var(--purple-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 650px;
}

.nav {
    z-index: 9999;
}

.nav__wrapper {
    grid-column: span 12;
}

.nav__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.nav__logo {
    display: inline-flex;
}

.nav__logo-svg {
    color: var(--white);
}

.nav__logo-svg--black {
    color: var(--dark-not-black);
}

.nav__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__login-mobile {
    margin-right: 16px;
}

.nav__login-desktop {
    margin-left: 60px;
}

.nav__hamburger {
    color: var(--white);
    display: flex;
}

.nav__menu {
    width: 100%;
    font-weight: var(--font-semibold);
    display: flex;
    justify-content: center;
}

.nav__menu > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu > ul > li {
    padding: 0 1.25rem;
    height: 20px;
}

.closed {
    transform: translateX(100%);
}

@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.side-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 24px 48px 120px 24px;
    width: 330px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 9999;
    transition: 0.3s;
    overflow: hidden;
    overflow-y: scroll;
}

.side-panel > hr {
    margin-top: 24px;
    margin-bottom: 16px;
    border: none;
    height: 1px;
    background-color: #edeff1;
}

.side-panel__nav > ul > li {
    padding: 8px 16px;
    line-height: 1.5;
    font-weight: var(--font-book);
}

.side-panel__nav > ul > li > a {
    color: var(--dark-not-black);

}

.side-panel-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    width: 330px;
    z-index: 9999;
    transition: 0.3s;
    overflow: hidden;
    pointer-events: none;
}

.side-panel-overlay__close {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10000;
    pointer-events: auto;
}

.side-panel-overlay__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: var(--white);
    z-index: 10000;
    pointer-events: auto;
}

.side-panel-overlay__footer > a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.side-panel-overlay__footer > a > svg {
    margin-right: 8px;
}

.hero {
    color: var(--white);
    z-index: 9998;
}

.hero__wrapper {
    grid-column: span 12;
    padding: 56px 0;
}

.hero__title {
    text-transform: uppercase;
    font-size: clamp(var(--font-size-xl), 5vw, var(--font-size-xxl));
}

.hero__text {
    margin-top: var(--gap);
    font-size: clamp(var(--font-size-md), 2vw , var(--font-size-lg));
}

.hero__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__buttons > a {
    margin-top: 24px;
}

.hero__download {
    display: flex;
    align-items: center;
    margin-right: 24px;
    text-align: left;
}

.hero__download > svg {
    margin-right: 8px;
    width: 23px;
    height: 23px;
}

.hero-images {
    position: relative;
}

.hero-images__left {
    width: 100%;
    position: relative;
    display: block;
    margin-left: -80px;
}

.hero-images__right {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    display: none;
}

.hero-images__clouds {
    display: none;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding-bottom: 80px;
    }

    .hero__wrapper {
        grid-column: span 8;
        padding: 80px 0;
    }

    .hero__title {
        font-size: var(--font-size-xxxl);
    }

    .hero-images {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .hero-images__left {
        display: none;
    }

    .hero-images__right {
        display: block;
    }

    .hero-images__clouds {
        position: absolute;
        bottom: 0;
        margin-left: -940px;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .wrapper {
        padding-bottom: 0;
    }

    .hero__wrapper {
        grid-column: 3 / span 8;
        text-align: center;
        padding: 120px 0;
    }

    .hero__buttons {
        justify-content: center;
    }

    .hero-images__left {
        position: absolute;
        display: block;
        bottom: 0;
        width: auto;
        left: 50%;
        margin-left: -1035px;
    }

    .hero-images__right {
        right: 50%;
        margin-left: 350px;
    }

    .hero-images__clouds {
        left: 50%;
        margin-left: -1275px;
    }
}

.section {
    padding-top: 56px;
    padding-bottom: 56px;
}

.section:nth-child(even),
.section:nth-child(5) {
    background-color: var(--off-white);
}

.section__img {
    display: block;
    width: 100%;
    margin-top: 24px;
    grid-column: span 12;
}

.section__text {
    margin-top: 20px;
    grid-column: span 12;
}

.section__text > h2 {
    font-size: clamp(20px,4vw,40px);
}

.section__text > p {
    margin-top: 24px;
    font-size: clamp(16px,2vw,20px);
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: center;
    }

    .section:not(:nth-child(4)) .section__img {
        grid-column: span 6;
        margin-top: 0;
    }

    .section:nth-child(2) .section__img {
        order: 1;
    }

    .section__text {
        margin-top: 0;
        grid-column: span 6;
    }

    .section:nth-child(4) .section__text {
        grid-column: span 12;
        text-align: center;
    }

    .section__text > h2 {
        font-size: 48px;
    }
}


@media screen and (min-width: 1024px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section:not(:nth-child(4)) .section__img {
        grid-column: span 7;
    }

    .section:nth-child(2) .section__img {
        grid-column: 6 / span 7;
    }

    .section:not(:nth-child(4)) .section__text {
        margin-top: 0;
        grid-column: 9 / span 4;
    }

    .section:nth-child(2) .section__text {
        grid-column: span 4;
    }

    .section:nth-child(4) .section__text {
        grid-column: 2 / span 10;
    }

    .section__text > h2 {
        font-size: 48px;
    }
}

.cta {
    position: relative;
    background-color: var(--off-white);
    padding-bottom: 56px;
}

.cta__image {
    position: absolute;
    justify-self: center;
}

.cta__title {
    grid-column: span 12;
    font-size: 32px;
    justify-self: center;
}

.cta__download {
    grid-column: span 12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    justify-self: center;
}

.cta__download > svg {
    margin-right: 8px;
}

@media screen and (min-width: 768px) {
    .cta {
        padding-bottom: 80px;
    }

    .cta__download {
        grid-column: 4 / span 6;
    }
}

@media screen and (min-width: 1024px) {
    .cta {
        padding-bottom: 120px;
    }
}
